---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "My Home Page";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>Hola amigo Alejandro o, como te llaman también, Demian</h2>
</BaseLayout>
